// COLORS
$background-gray: #ededee;
$light-gray: #e5e5e5;
$dark-gray: #313848; // rgb(49, 56, 72)
$similar-white: #fcfbf9;
$input-bar: #595f6c;
$white: #ffffff;
$black: #000000;
$dark-orange: #ea7052; // rgb(234, 112, 82)
$darker-orange: #e65d47;
$light-orange: #e48e45; // rgb(228, 142, 69)
$orange: #fb9653;
$green: #4da47e; // rgb(77, 164, 126)
$darker-green: #55b18a;
$purple: #7b7fda; // rgb(123, 127, 218)
$darker-purple: #646ad5;
$transparent: transparent;
$gray: #9b9b9b;
$red: #da0000;
$light-red: #ea5478;

/* SCREEN SIZES */
$screen-xs: 375px;
$screen-mid: 565px;
$screen-sm: 769px;
$screen-md: 1024px;
$screen-nav: 1084px;
$screen-lg: 1200px;
$screen-ml: 1400px;
$screen-xl: 1600px;
$screen-ul: 1900px;

$sidebar-width: 300px;
$learning-analysis-header: 230px;

// $gradientDarkOrange: rgba(234, 112, 82, 0.103);
// $gradientPurple: rgba(123, 128, 218, 0.103);
// $gradientYellow: rgba(249, 172, 109, 0.116);
// $gradientGreen: rgba(104, 188, 152, 0.158);
// $gradientDarkBlue: rgba(80, 106, 172, 0.13);
// $gradientJuniorMaths: rgba(241, 91, 94, 0.137);
// $gradientBasicScience: rgba(92, 188, 243, 0.13);
// $gradientBasicTech: rgba(145, 104, 153, 0.11);
// $gradientBusinessStudies: rgba(239, 187, 55, 0.11);

// previous colors from desktop
$lightGray: #e5e5e5;
$u-white-7: rgba(255, 255, 255, 0.7);
$darkOrange: #ea7052;

$lightOrange: #e48e45;
$transparent: transparent;
$modal-bg-color: #31384866;
$u-text-7: #313848b3;
$input-border: #3138484d;

$u-cfd: #48acfd;
$u-848: #313848;
$u-848-8: #313848b7;
$u-848-4: #31384866;
$u-848-2: #31384834;
$u-052: $darkOrange;
$u-e45: #e48e45;
$u-DEE: #ededee;
$u-848: #313848;
$u-6e6: #e6e6e6;
$u-3D3: #d3d3d3;
$u-5AC: #a2a5ac;
$u-D8E: #757d8e;

$bio: #68bc98;
$eng: #506aac;
$chem: #f9ad6d;
$phy: #7b7fda;
$pri-maths: #3bb8a3;
$pri-english: #7876e9;
$pri-science-tech: #ee6b6b;

$live: #da0000;
$live-upcoming: #606572;
$live-replay: #f2984d;
